// Loading spinner
#spinner
  img(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAJcEhZcwAACxMAAAsTAQCanBgAAAJTSURBVEjHnZVLSFVRFIaP12tZ6tVumvki00xNLSt7lxklSNgLaiA+egyLCoIgKoKEoEYRTSIaBjkLGkjjphXNaqIUTRvUMJrkt+A/sDrc6z27wTc4++y9/73Wv9fa0cK3r1FK6uEzfIHGtOuK/eiFWeh3Y8PwVxx246ugCVaGCDzQRvNuoRc4pLEMdMJ2aA4ROArf4Qec19jBAgJrYQD6oCZEwHgKv+CDNtoIvyUwrDk9sBVaS3lgi2/Afvdzk0z9CXdgvYvATl2nzXsT+a+FNqj0AtdgEd7BPdig8evwB97ACgndgqwONQgNmmsbtsuPPXFU/ta8gPfwCd7CJVgDF2BXgfCrIC+xJkUzBDuhW///8cBOeA5ew0fd99Mp62O3Nu9XRGXLmZyDK/BcpyolUA2boQXKC5kcT+gWnTI0E1DlZfKgJkHWfj6EV/DSYd8nAgTs9Ptgr8Nu5Db7+QjmEgJzgQLNRQQGI4XS41LUpQX/k6Jqlx7zsqLQZJt4HK7qXpfavFZX0wqzYrlWkVVYVkxP4JnCTpOeMRjV+lYffTypTdX8WJvPasFq2FGk11h/6lD9tKs/2ZpjqomcFzipSjbDJ2Cdxg/AfZjSHR8QGb0JE/Iv0mG2wBGluMsL2L0/I5Pjsbx60V0YkXHWNi4q732q/PFEq86rrqpKtetxbX5Zp7OWMCMalJoxiQyFPpnWKW/CbXkQKW2xQJxC8+Csom8MERjVszmj2xWHPqUXLhYoV/omrWpDBOr1bPpTWZ6n5YEfr5PxudAnM4m9WqdEZdp1S9+HMuEQa7siAAAAAElFTkSuQmCC')

// Flash message
#flash You have a new message

// Nav bar
.navbar
  a.leftButtonItem.menu
  .title Twitter
  a.rightButtonItem.next

// Main content wrapper
.container
  #page-container