h1 New <$- classified $>
form.col-lg-6
  <$ _(attrs).each(function(value, key, list)  { if (value === 'String') { $>
  .form-group
    label(for="input-<$- key $>") <$- _.humanize(key) $>
    input.form-control(type='text', id="input-<$- key $>", data-field="<$- key $>", placeholder="<$- _.humanize(key) $>")
  <$ } else if (value === 'Number') { $>
  .form-group
    label(for="input-<$- key $>") <$- _.humanize(key) $>
    input.form-control(type='number', id="input-<$- key $>", data-field="<$- key $>", placeholder="<$- _.humanize(key) $>")
  <$ } else if (value === 'Boolean') { $>
  .form-group
    label(for="input-<$- key $>") <$- _.humanize(key) $>
    input.form-control(type='checkbox', id="input-<$- key $>", data-field="<$- key $>", placeholder="<$- _.humanize(key) $>")
  <$ } else if (value === 'Date') { $>
  .form-group
    label(for="input-<$- key $>") <$- _.humanize(key) $>
    input.form-control(type='text', id="input-<$- key $>", data-field="<$- key $>", data-editor="Date", placeholder="<$- _.humanize(key) $>")
  <$ }}); $>
  button.btn.btn-primary(type='submit') Submit
  button.btn.btn-default.cancel Cancel
