.user(data-id!="<%- user._id %>")
  .user-content
    .user-header
      a(href!="#users/<%- user.username %>")
        img.avatar(src!="<%- user.profileImageUrl || 'images/default_avatar.jpeg' %>", alt!="<%- user.name || '' %>")
        strong.user-full-name <%- user.name || '' %>
        .user-username @<%- user.username || '' %>
    .user-actions.pull-right
      <% if (type == 'friends') { %>
      button.btn.btn-info Following
      <% } else if (type == 'followers') { %>
      button.btn Follow
      <% } %>