.edit-profile-header
  h3 Complete your profile
.edit-profile-content
  form.form-horizontal
    .control-group
      label.control-label(for="username") Choose a username:
      .controls
        .input-prepend
          span.add-on @
          input.span3#username(type="text", placeholder="Username")
    .control-group
      label.control-label(for="profile-image") Upload a profile picture:
      .controls
        input#profile-image(type="file")
    .form-actions
      button.btn.btn-primary.save-button(type="submit") Save changes