#sidebar-container.span4
  .card.profile-nav
    ul.nav.nav-tabs.nav-stacked
      li.active(data-row='tweets')
        a(href='#tweets')
          i.icon-chevron-right.pull-right
          | Tweets
      li(data-row='friends')
        a(href='#friends')
          i.icon-chevron-right.pull-right
          | Following
      li(data-row='followers')
        a(href='#followers')
          i.icon-chevron-right.pull-right
          | Followers

#content-container.page.span7