header
  a.leftButtonItem.prev
  .title Details
.content
  p
    | Twitter is an online social networking service and microblogging service that enables its users to send and read text-based messages of up to 140 characters, known as "tweets".
    | It was created in March 2006 by Jack Dorsey and launched that July. The service rapidly gained worldwide popularity, with over 500 million active users as of 2012, generating over 340 million tweets daily and handling over 1.6 billion search queries per day.[6][8][9] Since its launch, Twitter has become one of the top 10 most visited websites on the Internet, and has been described as "the SMS of the Internet."[5][10] Unregistered users can read tweets, while registered users can post tweets through the website interface, SMS, or a range of apps for mobile devices.[11]
  p
    | Twitter's origins lie in a "daylong brainstorming session" held by board members of the podcasting company Odeo. Dorsey, then an undergraduate student at New York University, introduced the idea of an individual using an SMS service to communicate with a small group.[12][13] The original project code name for the service was twttr, an idea that Williams later ascribed to Noah Glass,[14] inspired by Flickr and the five-character length of American SMS short codes. The developers initially considered "10958" as a short code, but later changed it to "40404" for "ease of use and memorability."[15] Work on the project started on March 21, 2006, when Dorsey published the first Twitter message at 9:50 PM Pacific Standard Time (PST): "just setting up my twttr".[1]
