<div id="page-container" class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a href="http://muffin.io" target="_blank">Muffin Docs</a></li>
      <li><a href="https://github.com/Axonify/muffin.io/wiki/Tutorials%2C-blog-posts-and-example-sites" target="_blank">Tutorials</a></li>
    </ul><img src="images/muffin.png"/>
  </div>
  <div class="jumbotron">
    <h1>Welcome Aboard</h1>
    <p class="lead">Congratulations! You have just created your brand new Muffin app. From here you can create models and views, set up server APIs, and build your app into the ultimate awesomeness.</p>
    <p><a href="#" class="btn btn-lg btn-success start-btn">Get Started</a></p>
  </div>
  <div class="row getting-started">
    <div class="col-lg-12">
      <h1>Getting Started</h1>
      <h4>1. Use <em>muffin generate</em> to create your models, views and RESTful APIs</h4>
      <p>$ muffin generate scaffold user name:string email:string age:number</p>
      <h4>2. Go to <em>localhost:4000/#users</em> and see your views in action</h4>
      <p>Try to add, remove, or edit a user.</p>
      <h4>3. Read the generated code and start tweaking.</h4>
      <p>All the generated code are located in <em>client/apps/main</em>.</p>
    </div>
  </div>
  <div class="footer">
    <p>© Company 2013</p>
  </div>
</div>
